Django==1.6.1
MySQL-python==1.2.5
dj-static==0.0.5
django-allauth==0.15.0
gunicorn==18.0
oauthlib==0.6.1
pystache==0.5.3
python-openid==2.2.5
requests==2.2.1
requests-oauthlib==0.4.0
static==1.0.2
wsgiref==0.1.2
